body {
    background-image: linear-gradient(to right , rgb(114, 114, 114), rgb(48, 46, 46));
    text-align: center;
}
h1 {
    color: white;
}
a {
    color: white;
    font-family: Arial;
    font-size: 20px;
}